{
"extends": [
  "airbnb",
  "plugin:meteor/recommended"
],
"parser": "babel-eslint",
"env": {
        "browser": true,
        "node": true,
        "meteor": true,
      },
"plugins": [
  "meteor"
],
"settings": {
  "import/resolver":  {
    'meteor': {
      'extensions': [
        '.js',
        '.jsx'
      ],
    }
  }
},
"rules":{
  "no-else-return": 0, # we like elses ;)
  "no-absolute-path": 0,
  "no-underscore-dangle": [2, {"allow":["_id"]}],
  "import/extensions": 0, # remove it when issue 17 of eslint-import-resolver-meteor solved
  "import/no-extraneous-dependencies": 0, # to fix meteor/foo imports, it need to be fixed
  "import/no-absolute-path": 0, # ["error", { "ignore": ["^/client"] }], remove this once we move to packages
  "react/prefer-stateless-function": 0, #we like to use React PureComponent
  }
}
